<div>
  <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list">
    <li v-for="feed in feeds" class="mdc-list-item">
      <img :src="feed.image" class="mdc-list-item__start-detail" />
      <router-link
        :to="{name: 'feed', params: {id: feed.url}}"
        class="mdc-list-item__text"
        style="color: var(--mdc-theme-text-primary-on-primary-light); text-decoration: none;"
      >
        {{feed.name}}
        <span class="mdc-list-item__text__secondary">Details</span>
      </router-link>
    </li>
  </ul>
</div>
