<div>
  <input @change="fileSelected" name="opml" type="file">
  <button @click="refresh">Refresh podcasts</button>

  <nav class="mdc-tab-bar">
    <router-link
      :to="{name: 'podcasts'}"
      :class="['mdc-tab', activeClass('podcasts')]"
    >
      Podcasts
    </router-link>

    <router-link
      :to="{name: 'playlist'}"
      :class="['mdc-tab', activeClass('playlist')]"
    >
      Playlist
    </router-link>

    <router-link
      :to="{name: 'nowPlaying'}"
      :class="['mdc-tab', activeClass('nowPlaying')]"
    >
      Now Playing
    </router-link>

    <span class="mdc-tab-bar__indicator"></span>
  </nav>

  <slot></slot>

  <button
    v-if="showPrimaryActionButton"
    @click="togglePlayPause"
    class="mdc-fab material-icons app-fab--absolute"
    aria-label="Favorite"
 >
    <span class="mdc-fab__icon">
      {{primaryActionIcon}}
    </span>
  </button>
</div>
