<div>
  <input @change="fileSelected" name="opml" type="file">
  <button @click="refresh">Refresh podcasts</button>

  <nav class="mdc-tab-bar">
    <router-link
      :to="{name: 'podcasts'}"
      :class="['mdc-tab', activeClass('podcasts')]"
    >
      Podcasts
    </router-link>

    <router-link
      :to="{name: 'playlist'}"
      :class="['mdc-tab', activeClass('playlist')]"
    >
      Playlist
    </router-link>

    <router-link
      :to="{name: 'nowPlaying'}"
      :class="['mdc-tab', activeClass('nowPlaying')]"
    >
      Now Playing
    </router-link>

    <span class="mdc-tab-bar__indicator"></span>
  </nav>

  <slot></slot>

  </button>
  <div id="footer">
    <button class="mdc-button" @click="seekBackward">
      <i class="material-icons mdc-button__icon">fast_rewind</i>
    </button>

    <button class="mdc-button" @click="togglePlayPause">
      <i class="material-icons mdc-button__icon">{{primaryActionIcon}}</i>
    </button>

    <button class="mdc-button" @click="seekForward">
      <i class="material-icons mdc-button__icon">fast_forward</i>
    </button>

    <slider
      :min="sliderMin"
      :value="sliderValue"
      :max="sliderMax"
      @change="onSlideChange"
      @input="onSlideInput"
    ></slider>
  </div>
</div>
