<div class="">
  <input @change="fileSelected" name="opml" type="file">

  <nav class="mdc-tab-bar">
    <a class="mdc-tab mdc-tab-active" href="#podcasts">Podcasts</a>
    <a class="mdc-tab" href="#playlist">Playlist</a>
    <a class="mdc-tab" href="#now-playing">Now Playing</a>
    <span class="mdc-tab-bar__indicator"></span>
  </nav>
  <podcasts></podcasts>
  <h1>Feeds</h1>
  <div v-for="feed in feeds">
    <h2>{{feed.name}} {{feed.error}}</h2>
    <p v-for="feedItem in items[feed.url]">{{feedItem.title}}</p>
  </div>
</div>
