#nowPlayingImage {
  background-size: cover;
  background-repeat: no-repeat;
  height: 20em;
  max-width: 20em;
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
   .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
